@font-face {
    font-family: SVN-Gilroy;
    src: url("./Fonts/SVN-Gilroy\ Regular.otf"),
      url("/Fonts/SVN-Gilroy\ Bold.otf"), url("/Fonts/SVN-Gilroy\ Heavy.otf"),
      url("/Fonts/SVN-Gilroy\ SemiBold.otf");
    font-weight: normal;
    font-style: normal;
  }
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SVN-Gilroy";
}


html {
    font-size: 62.5%;
    line-height: 1.6rem;
}


.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
}

.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}
.ml{
    margin-left: 2rem;
    margin-right: 2rem;
}

.headerMenu{
    display: flex;
    width:100vw;
    height: 6.4rem;
    margin: 0 auto  ;
    background: #fff;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
    font-size: 1.4rem;
}

/* .headerMenu img{
    margin-left: 200px;
} */

.headerMenu a{
    color: black;
    line-height: 6.4rem;
    padding: 0 2rem;
    
}


.headerFooter{
    position: relative;
    margin: 0 auto;
    width: 100%;
}


.headerFooter img{
    width: 100%;
}

.backGR{
    position: absolute;
    top:13rem;
    left: 9.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .descript{
    width: 54.5rem;
} */

.descParagraph,.descriptHeading{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6.4rem;
    
}
.descParagraph{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 1.6rem;
    margin-bottom: 4.8rem;
}

.btn {
    width: 24.4rem;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    background-color: #0367B4;
    border-radius: 6rem;
    position: absolute;
    text-transform: uppercase;
}


/* about  */
.about{
    display: flex;
    max-width: 1000px ;
    margin: 0 auto;
}

.action button{
    display: none;
}
.descRight span{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color:#0367B4 ;
    text-transform: uppercase;
}

.descRight h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000;
    margin-top: 12px;
}

.purpo{
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
}

.descRight p{
    width: 575px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color:#929292;
    margin-top: 8px ;
}

/* action  */
.action {
    position: relative;
    display: flex;
    margin-top: 64px;
}

 
.action img{
    /* margin: 0 au; */
}
.action > span{
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    left: 50%;
    transform: translateX(-50%);
    top: 36px;
    color: #fff;
}

.action > h1{
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    left: 50%;
    transform: translateX(-50%);
    top: 69px;
}

.boxAction{
    display: flex;

    position: absolute;
    align-items: center;
    justify-content: center;
    top: 147px;
    width:100%;
    gap: 24px;
    flex-wrap: wrap;

}


.boxConnect{
    width: 472px;
    min-height: 166px;
    border-radius: 6px;
    background-color: #fff;
   
    
}

.boxConnect p{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    min-width: 342px;
    margin: 0 45px 36px 49px;
}

.boxConnect  span{
    font-weight: 800;
    font-size: 2rem;
    margin-left: 10rem
   
}

.boxIcon {
    width: 56px;
    height: 56px;
    margin: 16px 30px  20px 16px ;
}

.headerBox{
    display: flex;
    align-items: center;
   
}


/* tin tức  */
.newEvent{

}

.newEvent > span{
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #0367B4;
    margin-top: 64px;
}

.newEvent h1{
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: #000;
    text-transform: uppercase;
    margin-top: 12px;
}

.containerItem{
    width: 312px;
    border-bottom: 1px solid #D3D3D3;
    margin-right: 16px;
}

.containerEvent{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 56px;
    flex-wrap: wrap;
}

.containerImg{
    border-radius: 6px;
    margin-bottom: 24px;
}

.containerTitle{
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

.containerDes{
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    color: #929292;
}

.containerTime{
    margin-top: 36px;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.btnAdd{
    margin-top: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/* footer  */
.footerContainer{
    position: relative;
    margin-top: 219px;
    height: 442px;
    width: 100%;
    background-color: #F7F7F7;
    
}

.footerItem{
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.footerUL{
    
    width: 100%;
    height: 64px;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
}

.footerUL li{
    display: inline-block;
    margin-right: 36px;
    line-height: 64px;

}

.footerUL li a {
    color: #000;
    font-size: 1.4rem;
}

.footerMenu{
    margin-top: 150px;
}

.footerUL img{
    
}

.footerItem .headerMenu{
    /* width: auto; */
}

.footerContainer h1{
    font-weight: 600;
    font-size: 18px;
    color: #000;
    margin-top: 32px;
}

.logoFooter{
    margin-right: 54px;
}

.footerContainer p{
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-top: 12px;
}



/* contact  */
.contact{
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    border-top: 1px solid #D3D3D3;
    padding-top: 20px;
}

.desContact >span{
    font-weight: 400;
    font-size: 14px;
    color: #8F8F8F;
}

.logoContact a{
    margin-left: 24px;
}


/* location  */
.location{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    
}


.boxLocation{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    

    display: flex;
}

.locationDes{
    margin-left: 80px;
    display: flex;   

}

.locationDes img{
    margin-right: 12px;
    min-width: 36px;
}

.locationDesLabel{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    display: block;
}

.locationDesCons{
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;  
    color: #fff;  
}





/* Astra new  */
.astraContent{
    /* width: 1000px; */
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.listNav ul{
    display: flex;
    text-align: left;
}

/* .listNav ul li:first-child{
    margin-left: 200px;
} */

.listNav ul li{
    padding: 30px 18px;
   
}
.listNav ul li a{
    color: #8F8F8F;
    font-weight: 400;
    font-size: 16px;
}

.listNav ul li .active{
    color: #000;  
    border-bottom:1px solid #FF6D34;  
}


/* content  */

.contentAds{
    display: grid;
    grid-template-columns: 70% 20%;
}

.contentAdsRight{
    display: grid;
    grid-row-gap: 8px;
}

.contentItemAds{
    width: 637px;

}

.labelAds{
    display: block;
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 133%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 3px 4px;
    max-width: 53px;
    background: #0367B4;
}

.contentItemAds img{
    height: 344px;
    border-radius: 6px; 
}

.headingContent{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 132%;
    color: #000000;
}

.paragraphContent{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 133%;
    color: #929292;
}

.contentAdsRight .contentItemAds img{
    width: 312px;
    height: 148px;
    border-radius: 6px;
    object-fit: cover;
}

.contentAdsRight .contentItemAds{
    width: 312px;
}

.listContent .contentItemAds,
.contentAdsRight .contentItemAds{
    border-bottom: 1px solid #D3D3D3;
}



.timeAds{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #8F8F8F;
    margin-top: 8px;

}

.listContent{
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-gap: 16px 24px;
    
}

.listContent .contentItemAds img{
    width: 312px;
    height: 208px;
}

.listContent {
    /* margin-left: 32px; */
    grid-column-start: 1;
    grid-column-end: 3;
}

.listContent .contentItemAds{
    width: 312px;

}

.listContent .timeAds{
    margin-bottom: 24px;
}


.idPage ul{
    display: flex;
    margin-top: 50px;
}

.idPage ul li a{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #8F8F8F;
}



.idPage ul img{
    margin: 0 14px;
}

.idPage ul li:last-child a{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;  
    color: #000000;
}

.contentLater{
    width: 948px;
    /* position: relative; */
}


.contentLater >a{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #000000;
    text-transform: uppercase;
    border-left: 7px solid  #FF6D34;
    padding-left:8px ;
}

.contentLater h1{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 132%;
    color: #000000;
    margin-top: 24px;
}

.contentLater .labelAds {
    display: inline-block;
    margin-right: 72px;
}

.contentLater .timeAds {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #8F8F8F;
}

.paragraphLater{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 133%;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 16px;
}

.contentLater>img{
    object-fit: cover;
    
    margin-left: auto;
    /* transform: translateX(-50%); */
}

.contentLater>p:last-child{
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 133%;
    color: #000000;  
}

.menuRespose{
    display: none;
    position: relative;
}


.menuHover{
    display: none;
    position: absolute;
    top: 100%;
    left: 30px;
    width: auto;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 10px #8F8F8F;
    cursor: pointer;
    z-index: 1000;
    
}

.menuHover::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    top: -15px;
    /* background-color: #0367B4; */
    z-index: 1000;
    
}

.menuHover li a{
    color: #000;
    font-size: 1.4rem;
    
}

.menuHover li{
    padding: 1rem;
}

.menuHover li:hover{
    background-color: #8F8F8F;
}


